<nav class="header">

  <img src="../../assets/fb4-ai.svg" class="header-mouse-img">
      <a class="nav-index-link" routerLink="/">
        <div class="header-text">
          <div class="wiki-header-text">WIKI</div>
          <div class="plag-header-text">Plag</div>
        </div>
        <div class="header-subtitle">
          <div class="header-subtitle-1">
            EIN UNIVERSTITÄTS
          </div>
          <div class="header-subtitle-2">
            PROJEKT
          </div>
        </div>
      </a>
  <img src="../../assets/s17-htw-berlin-logo-neg-sw-rgb.svg" class="header-htw-img">
</nav>
