.textbox {
  padding: 0;
  height: 75vh;
  border-radius: 10px;
  margin: 10px;
  margin: auto;
  margin-top: -10%;
  margin-bottom: 200px;
}

.text-history-box {
  word-wrap: break-word;
  margin-bottom: 35px;

  .preview-text {
    text-overflow: ellipsis;
    line-height: 16px;
    max-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;

    &::after {
      content: "...";
    }
  }
}

@media only screen and (max-width: 960px) {
  .textbox {
    margin: auto;
    margin-top: 2%;
  }
}
.historyHidden {
  display: none;
  background-color: rgba(216, 216, 216, 0.51);
}

.textboxViewHistory {
  width: 100%;
  text-align: center;
  background-color: white;
  margin-top: -4px;
  border-top: 1px solid black;
  overflow-y: scroll;
  font-family: "Avenir Next";
}

.historyRotateViewHistoryIcon {
  transform: rotate(180deg);
}

.icon-view-history {
  padding-top: 7px;
  cursor: pointer;
}

.textbox_textarea {
  width: 100%;
  color: #000000;
  font-family: "Avenir Next - Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px;
  border: 0;
  margin: 0;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.textbox_h1_div {
  height: 50px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(9, 9, 9, 0.73);
}

.textbox_h1 {
  width: 100%;
  display: inline-block;
  line-height: normal;
  color: #ffffff;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: baseline;
}

.textbox_footer_container {
  width: 100%;
  height: 60px;
  background-color: rgba(216, 216, 216, 0.51);
  display: inline-flex;
  align-items: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.wordcount_div {
  width: 35%;
  & span {
    margin-left: 25px;
    font-weight: 800;
  }
}

.history_div {
  border-left: 1px solid rgba(151, 151, 151, 0.19);
  width: 65%;

  & input {
    padding: 7.5px;
    border: none;
    border-radius: 0.3em;
  }
}

.textbox_footer_image {
  vertical-align: middle;
  margin-left: 10px;
}

.label_input {
  font-family: "Avenir Next - Regular";
  color: dimgrey;
  width: 50%;
  margin-left: 10px;
}

.button_container {
  position: absolute;
  padding-top: 2%;
  right: 1%;
}

@media only screen and (max-width: 960px) {
  .wordcount_div {
    width: 40%;
  }

  .history_div {
    width: 60%;
  }

  .label_input {
    width: 65%;
  }
}

.viewHistoryExpanded {
  animation: viewHistory 0.3s ease-out forwards;
}

.displayNone {
  animation: hideTextarea 0.3s ease-out forwards;
}

.minimizeHistory {
  animation: minHistory 0.3s ease-out forwards;
}

.showTextarea {
  animation: showTextarea 0.3s ease-out forwards;
}

@keyframes hideTextarea {
  from {
    height: 83%;
    opacity: 1;
  }

  to {
    height: 0%;
  }
}

@keyframes minHistory {
  from {
    height: 83%;
  }

  to {
    height: 4%;
  }
}

@keyframes showTextarea {
  from {
    height: 4%;
  }

  to {
    height: 83%;
    opacity: 1;
  }
}

@keyframes viewHistory {
  from {
    height: 4%;
  }

  to {
    height: 83%;
  }
}
